@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;

@import "motion-ui";
@include motion-ui-transitions;
@include motion-ui-animations;

// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}
